.first{
    border: 2px solid black;
    height:400px;
    width:70%;
    float: left;
    margin-left: 2%;
    margin-top: 2%; 
}

.second{
    margin-top: 2%; 
}


body{
    margin: auto;
}

#header{
    width:100%;
    height:50px;
    background-color: red;
    margin-left:1%;
    margin-right:4%
}

span{
    font-size:30px;
}
.logo{
    font-size:30px;
    color:white
}

.leftopt{
    margin-right: 3%;
}
#filter{
    height:1000px;
    width:20%;
    background-color:darkcyan;
    float: left;
    border:5px double black;
    margin-top: 2%; 
    margin-left: 2%; 
}

.first{
    width:80%;
}

.image{
    width:50%;
    height:100%;
    float: left;
}
.details{
    width:100%;
    height:100%;
}

.maindiv{
    width:100%;
    height:60%;
}

.moredetails{
    width:100%;
    height:30%;
}
.imgClass{
    height:220px;
    width:100%
}